//font-sizes
$font-size-xxl: 40px;
$font-size-xl: 32px;
$font-size-lg: 24px;
$font-size-md: 20px;
$font-size-base: 16px;
$font-size-sm: 16px;
$font-size-xs: 12px;

//font weights
$font-weight-regular: 400;
$font-weight-medium: 600;

// line heights

$line-height-small: 150%;
$line-height-large: 160%;

// font family

$noto: var(--font-noto);
